body {
  background: darksalmon;
}
.fill {
  background-image: url("http://source.unsplash.com/random/150x150");
  position: relative;
  height: 150px;
  width: 150px;
  top: 5px;
  left: 5px;
  cursor: pointer;
}
.empty {
  display: inline-block;
  height: 160px;
  width: 160px;
  margin: 10px;
  border: 3px salmon solid;
  background-color: white;
}
.hold {
  border: solid #cccccc 4px;
}
.hovered {
  background: #f4f4f4;
  border-style: dashed;
}

.invisible {
  display: none;
}

#grid {
  display: grid;
  grid-template-columns: repeat(10, 30px [col-start]);
  grid-template-rows: 30px 30px 30px 30px 30px 30px 30px 30px 30px 30px;
  grid-gap: 1px;
  background-color: #fff;
  color: #444;
  height: fit-content;
  width: fit-content;
 }
 .box {
  background-color: #444;
  color: #fff;
}